<form action="/login" method="post">
        <p>Registrar nuevo usuario</p>
        <input type="text" placeholder="Username" name="nombre">
        <input type="password" placeholder="Password" name="contrasena">
        <input type="text" placeholder="Email" name="email">
        <input type="number" placeholder="Cellphone" name="telefono">
        <input type="text" placeholder="Adress" name="direccion">
        <input type="number" placeholder="Age" name="edad">
        <input type="text" placeholder="Photo" name="foto">
        <input type="submit">
</form>
<br>
<form action="/" method="GET">
    <input type="submit" value="Iniciar Sesión">
</form>
