<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    <h1>{{titulo}}</h1>
    {{#each productos}}
        <div> {{title}}: {{cantidad}}</div>
    {{/each}}


<script src="/socket.io/socket.io.js"></script>
</body> 
</html>

