<form action="/productos" method="POST">
    <p>Inicio de sesión</p>
    <input type="text" placeholder="Username" name="nombre">
    <input type="password" placeholder="Password" name="contrasena">
    <input type="submit" value="Loguearse">
</form>
<br>
<form action="/registro" method="GET">
    <input type="submit" value="Registrar nuevo usuario">
</form>